<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .form-group{
            margin-top: 7px;
        }
        .pageloader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background: url('https://c.tenor.com/8ZhQShCQe9UAAAAC/loader.gif') 50% 50% no-repeat rgb(249, 249, 249);
            opacity: .8;
        }
    </style>
</head>
  <body>
    <div class="pageloader"></div>
    <div class="container mt-5">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Source Database Connection</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Username </label>
                                        <input type="text" name="username" value="uaernok32on0g8" class="form-control username">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Password </label>
                                        <input type="password" value="p26ef991b2e1e5cb7b390d88eed2f9e2f34a22d2af99121591789b830ce1d5bb4" name="password" class="form-control password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Host </label>
                                        <input type="text" value="ec2-3-218-160-76.compute-1.amazonaws.com" name="host" class="form-control host">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Port </label>
                                        <input type="text" name="port" value="5432" class="form-control port">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Database Name </label>
                                        <input type="text" name="database_name" value="d6epmn0ctf886k" class="form-control source_db">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Table Name </label>
                                        <select name="table_name" id="table_name" class="form-control">

                                        </select>
                                        <!-- <input type="text" name="table_name" value="models" class="form-control"> -->
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="source_erorr_message"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Traget Database Connection</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Username </label>
                                        <input type="text" name="target_username" value="postgres" class="form-control target_username">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Password </label>
                                        <input type="password" name="target_password" value="Gaurav#1992" class="form-control target_password">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Host </label>
                                        <input type="text" name="target_host" value="127.0.0.1" class="form-control target_host">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Port </label>
                                        <input type="text" name="target_port" value="5432" class="form-control target_port">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Database Name </label>
                                        <input type="text" name="target_database_name" value="target_aws" class="form-control target_db">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Table Name </label>
                                        <select name="target_table_name" id="target_table_name" class="form-control">

                                        </select>
                                        <!-- <input type="text" name="target_table_name" value="models" class="form-control"> -->
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="target_message"></div>
                            <div class="modal-footer">
                                <button class="btn btn-success download">
                                    Transfer Data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    {% csrf_token %}
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    <script>
        $(document).ready(function(){
            $(".pageloader").fadeOut("slow");

            $(document).on('blur', '.source_db', function(){
                $(".pageloader").fadeIn("slow");
                if($(".source_db").val() == "" || $(".username").val() == "" || $(".password").val() == "" || $(".host").val() == "" || $(".port").val() == ""){
                    $(".source_erorr_message").append(`
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Please enter valid data
                            <button 
                                type="button" 
                                class="btn-close" 
                                data-bs-dismiss="alert" 
                                aria-label="Close"></button>
                        </div>
                    `)
                    $(".pageloader").fadeOut("slow");
                    return
                }
                $.ajax({
                    url: 'get-tables',
                    type: "POST",
                    data: {
                        database_name: $(".source_db").val(),
                        username: $(".username").val(),
                        password: $(".password").val(),
                        host: $(".host").val(),
                        port: $(".port").val(),
                        csrfmiddlewaretoken: csrftoken
                    }
                })
                .done(function(data){
                    // console.log(data);
                    $(".pageloader").fadeOut("slow");
                    $("#table_name option").remove()
                    option = "<option selected disabled> Select Table </option>";
                    $.each(data.tables, function(index, value){
                        option += `<option value="${value['1']}">${value['1']}</option>`
                    })

                    $("#table_name").append(option)
                })
                .fail(function(error){
                    $(".pageloader").fadeOut("slow");
                    console.log(error);
                })
            })


            $(document).on('blur', '.target_db', function(){
                $(".pageloader").fadeIn("slow");
                if($(".target_db").val() == "" || $(".target_username").val() == "" || $(".target_password").val() == "" || $(".target_host").val() == "" || $(".target_port").val() == ""){
                    $(".target_message").append(`
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            Please enter valid data
                            <button 
                                type="button" 
                                class="btn-close" 
                                data-bs-dismiss="alert" 
                                aria-label="Close"></button>
                        </div>
                    `)
                    $(".pageloader").fadeOut("slow");
                    return false;
                }
                $.ajax({
                    url: 'get-tables',
                    type: "POST",
                    data: {
                        database_name: $(".target_db").val(),
                        username: $(".target_username").val(),
                        password: $(".target_password").val(),
                        host: $(".target_host").val(),
                        port: $(".target_port").val(),
                        csrfmiddlewaretoken: csrftoken
                    }
                })
                .done(function(data){
                    // console.log(data);
                    $(".pageloader").fadeOut("slow");
                    $("#target_table_name option").remove()
                    option = "<option selected disabled> Select Table </option>";
                    $.each(data.tables, function(index, value){
                        option += `<option value="${value['1']}">${value['1']}</option>`
                    })

                    $("#target_table_name").append(option)
                })
                .fail(function(error){
                    $(".pageloader").fadeOut("slow");
                    console.log(error);
                })
            })

        })
    </script>
</body>
</html>